body {
    display:flex;
    flex-direction: column;
    margin: 0;
}

.topline {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottomline {
    display: flex;
    justify-content: space-around;
    padding-bottom: 70px;
    
}

.button1 {
    width: 150px;
    height: 40px;
}

.miniheader {
    padding: 10px;
    font-size: 18px;
    color: #E5E7EB;
    
}

.mainheader {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    flex-wrap: wrap;
    width: 400px;

}

.mainheaderpara {
    flex-wrap: wrap;
    width: 400px;
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    background-color: #1F2937;
}

.headers {
    display: flex;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.imgoflarry {
    width: 200px;
    padding: 10px;

}

.info {
    text-align: center;
    margin-bottom: 100px;;
}

.info h1 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.info-divs {
    display: flex;
    justify-content: center;
    font-weight: bold;
}


.info-divs img {
    width: 150px;
    height: 150px;
    margin: 16px 16px 8px 16px;
    border: 3px solid lightblue;
}

.quote {
    background-color: #E5E7EB;
}